DOCKER_HOST=localhost
DOCKER_PASSWORD=supersecret
DOCKER_USER=admin 
DOCKER_NAME=backend_db
DOCKER_PORT=5434
DATABASE_URL=postgresql://admin:supersecret@localhost:5434/backend_db
BACKEND_PORT=6000
BACKEND_AUTH_PRIVATE_KEY=7bda7c98c976167e79e87f67683d92e6419aafc1ff4a93d03430480441ab34a7