do_token=""
access_id=""
secret_key=""
NODE_ENV="development"
BACKEND_PORT=8080
BACKEND_AUTH_PRIVATE_KEY=""
BACKEND_NODEMAILER_HOST="smtp.gmail.com"
BACKEND_NODEMAILER_PORT=587
BACKEND_NODEMAILER_EMAIL=""
BACKEND_NODEMAILER_PASS=""
BACKEND_NODEMAILER_SERVICE="gmail"
BACKEND_FRONTEND_URL=""